body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #F5E1A4;
}

.photo {
  text-align: center;
}

.photo img {
  width: 60%;
  max-height: auto; 
  object-fit: cover;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  border-radius: 10px;
}

.content {
  text-align: center;
  padding: 20px;
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
  font-size: clamp(10px, 5vw, 20px);
  font-family: "Showcard Gothic";
  color: #FA8072;
}

header {
  background-color: #FA8072;
  top: -10px;
}

.logo{
  display: flex;
}

.logo2{
  color: #F5E1A4;
  font-family: "Showcard Gothic";
  font-size: clamp(12px, 5vw, 24px);
  text-decoration: none;
}

.container {
  max-width: 1100px;
  padding-left: 405px;
  padding-right: 405px;
  margin: 0 auto;

}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4px;

}

.menu__list {
  display: flex;
  gap: 56px;
  color: #FA8072;

}

.menu__list-item{
  color: #FA8072;
  text-decoration: none;
  font-size: clamp(10px, 5vw, 20px);
}

.menu__list-link{
  color: #F5E1A4;
  text-decoration: none;
  font-size: clamp(10px, 5vw, 20px);
}


.recept{
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #FA8072;
  font-family: "Showcard Gothic";
  font-size: clamp(10px, 5vw, 20px);
  
}

h2{
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #D2691E;
  font-family: "Showcard Gothic";
  font-size: clamp(15px, 5vw, 30px);

}

h3{
  color: #D2691E;
}

ul{
  list-style-type: none;
}


.gr{
font-size: clamp(17px, 5vw, 35px);
  color: #D2691E;
  font-family: "Showcard Gothic";
  align-items: center;
  text-align: center;
  justify-content: center;
}

label{
  color: #FA8072;
  text-decoration: none;
  
}

a{
  text-decoration: none;
}


.footer {
  background-color: #FA8072;
  
}

.footer_inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 4px;
  align-items: center;
}

.footer__contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #F5E1A4;
  text-decoration: none;
  font-family: "Showcard Gothic" ;
}

.footer__contact-list-link{
  color: #F5E1A4;
  text-decoration: none;
}


@media (max-width: 1400px) {
  .slider-container{
    display: none;
  }

  .grid-container{
    grid-template-columns: repeat(2, 1fr);

  }
  
}

@media (max-width: 900px) {
  .grid-container{
    grid-template-columns: repeat(1, 1fr);

  }

}




@media (max-width: 600px) {
  #addrecept{
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-family: "Showcard Gothic";
    color: #FA8072;
    top: 10px;
    margin-bottom: 30px;
    gap: 10px;
    font-size: 10px;

  }

}